<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asnauj.aplicacionpaciente">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.person.MainActivity" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.doctor.Main2Activity" />
        <activity android:name=".activities.admin.Main3Activity" />
        <activity
            android:name=".activities.admin.InfoPacienteAdminActivity"
            android:label="@string/title_activity_info_paciente_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.doctor.InfoPacienteDocActivity"
            android:label="@string/title_activity_info_paciente_doc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.person.DesicionesPersonalesActivity" />
        <activity android:name=".activities.person.PacienteDPersonalesActivity" />
        <activity android:name=".activities.person.VerInfoMedicaActivity" />
    </application>

</manifest>